{% extends 'base.html' %}
{% block content %}
<h1 class="Welcome"> Welcome to Music App </h1>

<div class="row flex-add">
  {% for album in albums %}
  <div class="card tesst">
    <div class=" card-body">
      <h5 class="card-title">{{album.album_name}}</h5>
      <p class="card-text">{{album.artist}}<br>{{album.genre}}<br>{{album.created_date}}</p>
      <a href="{% url 'albumdetail' album.pk %}" class="btn btn-primary">Go to Album</a>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}